@import url('https://fonts.googleapis.com/css?family=Montserrat');



@font-face {
	font-family: "Neuropol";
	src:
	local("Neuropol"),
	url("../../image/Font_neuropol/neuropol.otf") format("opentype");
}



/* ----------------> css template <---------------- */

body{
	margin: 0%;
	padding: 0%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

button{
	margin: 0%;
	padding: 0%;
}

p{
	padding: 0%;
	margin: 0%;
}

h2{
	margin: 0%;
	padding: 0%;
}

h3{
	margin: 0px;
	padding: 0px;
}

h4{
	margin: 0%;
	padding: 0%;
}

input{
	margin: 0%;
	padding: 0%;
	width: 200px;
	height: 20px;
	text-align: center;
	font-size: 15px;
}

select{
	margin: 0%;
	padding: 0%;
	width: 200px;
	height: 20px;
	text-align: center;
	font-size: 15px;
}

/* --------------> css template header <---------------- */

.container_header{
	width: 100%;
	height: 100px;
	background-color: black;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.logo_container{
	width: 15%;
	height: 100%;
}


.logo{
	width : 100%;
	height: 100%;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('/MapModulePhp/image/where_and_when_2.png');
}

.nom_container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100%;
	width: 70%;
}

#nom_site{
	color: rgb(140, 237, 248); 
	font-family: "Neuropol", sans-serif;
	font-size: 2.5em; 
	text-align: center; 
	font-weight: lighter;
	margin: 0%;
	padding: 0%;
	width: 60%;
}

#signe{
	font-family: Arial, Helvetica, sans-serif;
}


.a_menu{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	text-align: center;
	width: 80px;
	height: 25px;
	border-radius: 10%;
	border: 1px solid rgb(140, 237, 248);
}

a{
	color:rgb(140, 237, 248);
	text-decoration: none;
}

.nav_menu{
	width: 20%;
	height: 50px;
	display: none;
	align-items: center;
	font-family: Montserrat, sans-serif;
	gap: 10px;
}


.menu{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;	
	height: 100%;
	width: 15% !important;
	text-align: center;
}

.size_image{
	background-image: url('/MapModulePhp/image/menu.png');
    background-size: contain;
	background-repeat: no-repeat;
	background-color:  black;
	width: 3em;
	height: 3em;
}





/* --------------> css index <---------------- */

.container_index{
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
}


.container_video {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

video {
	height: 100vh;
	width: 100vw;
    object-fit: fill;
}



/* ---------------------> css employe <------------------------------ */


.container_employe {
	background-color: rgb(235, 235, 235);
	font-family: Montserrat, sans-serif;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0%;
	padding: 0%;
}


p {
	font-size: 14px;
}

.card {
	background-color: #231E39;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #FFFF;
	width: 30em;
	height: 28em;
	max-width: 100%;
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin: 30px; 
	line-height: 2.5em;
}

.info{
	width: 80%;
	height: 100%;
}

.titre_employe{
	color:  #03BFCB;
}

.photo{
	height: 10em;
	width: 10em;
	justify-content: center;
	border: 1px solid #03BFCB;
	border-radius: 50%;
	margin: 1em;
	padding: 0.5em;
	object-fit: cover;
}


.statut{
	width: 20%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}


.statut_text{
	width: 4em;
	height: 2em;
	margin: 1em;
	text-align: center;
}


.rond{
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	border: 2px solid black;
}

.rondRouge{
	background-color: #FF0013;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	border: 2px solid black;
}

.rondOrange{
	background-color: #FF7A00;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	border: 2px solid black;
}

.rondVert{
	background-color: #AEF78E;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	border: 2px solid black;
}


.button_update {
	border-radius: 3px;
	width: 3em;
	height: 3em;
    font-size: 14px;
	color:  #03BFCB;
    font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 18em;
	margin-left: 1em;
} 


.update{
	background-image: url(https://img.icons8.com/?size=512&id=HZIV2Gmt5urv&format=png);
    background-size: contain;
	background-color:  #231E39;
	width: 3em;
	height: 3em;
}


.container_button{
	width: 100%;
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin-top: 2em;
	margin-bottom: 5em;
}


.button {
    color: #231E39;
    background-color: #FEBB0B;
    border-radius: 3px;
	width: 12em;
	height: 2em;
    font-size: 14px;
    font-weight: bold;
	text-align: center;
} 






/* ---------> css map <-------- */
#fiche{
        width: 2em;
}

#map {
	width: 100%; 
	height: 90vh; 
	border: 1px solid #ccc;
}

.popup{
	width: 100px;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.boutton {
    position: fixed;
    z-index: 1500;
    font-family: Montserrat, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    width: 100px;
    height: 40px;
    border-radius: 10%;
    border: 1.5px solid rgb(140, 237, 248);
    background-color: black;
    color: rgb(140, 237, 248);
	font-weight: bold;
	font-size: large;
    right: 150px; 
    top: 120px; 
    transform: translateX(100%);
}


#progress {
    display: none;
    position: absolute;
    z-index: 1000;
    left: 400px;
    top: 300px;
    width: 200px;
    height: 20px;
    margin-top: -20px;
    margin-left: -100px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    padding: 2px;
}

#progress-bar {
    width: 0;
    height: 100%;
    background-color: #76A6FC;
    border-radius: 4px;
}

.marker-cluster-small {
	background-color: rgba(181, 226, 140, 0.6);
	}
.marker-cluster-small div {
	background-color: rgba(110, 204, 57, 0.6);
	}

.marker-cluster-medium {
	background-color: rgba(241, 211, 87, 0.6);
	}
.marker-cluster-medium div {
	background-color: rgba(240, 194, 12, 0.6);
	}

.marker-cluster-large {
	background-color: rgba(253, 156, 115, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(241, 128, 23, 0.6);
	}

	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: rgb(181, 226, 140);
	}
.leaflet-oldie .marker-cluster-small div {
	background-color: rgb(110, 204, 57);
	}

.leaflet-oldie .marker-cluster-medium {
	background-color: rgb(241, 211, 87);
	}
.leaflet-oldie .marker-cluster-medium div {
	background-color: rgb(240, 194, 12);
	}

.leaflet-oldie .marker-cluster-large {
	background-color: rgb(253, 156, 115);
	}
.leaflet-oldie .marker-cluster-large div {
	background-color: rgb(241, 128, 23);
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
	line-height: 30px;
	}


/* -------------------------------> formulaire <------------------------------------- */

.container_formulaire{
	width: 100%;
	height: 100vh;
	background-color:rgb(235, 235, 235);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container_form{
    width:400px;
	margin-bottom: 200px;
}
/* Bordered form */
.form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: black;
	color: #e2e5e7;
	font-family: Montserrat, sans-serif;
	font-size: 20px;
	font-weight: bolder;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.container_form h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	text-align: center;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #231E39;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
	text-align: center;
    width: 50%;
}
input[type=submit]:hover {
	font-size: large;
    color: #03BFCB;
	text-align: center;
	background-color: #231E39;
}
input[value=Valider] {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

select{
	margin: 8px 0;
}




/* -------------------------------> log-out <------------------------------------- */

.container_session{
	width: 100%;
	height: 100vh;
	background-color:rgb(235, 235, 235);
	display: flex;
	flex-direction: column;
	align-items: center;
}


.session{
	margin-top: 200px;
	text-align: center;
}


/* -----------------------------> Responsive header <--------------------------- */
	@media screen and (max-width: 1025px){
		#nom_site{
			font-size: 2em;
		}
	}

	@media screen and (max-width: 750px){
		#nom_site{
			font-size: 1.5em;
		}
		.a_menu{
			width: 60px;
			height: 15px;
			font-size: 14px;
		}	
	}

	@media screen and (max-width: 480px){
		#nom_site{
			font-size: 1.1em;
		}
		.size_image{
			width: 2.5em;
			height: 2.5em;
		}	
	}

	@media screen and (max-width: 400px){
		#nom_site{
			font-size: 1em;
		}
		.size_image{
			width: 2em;
			height: 2em;
		}	
	}


/* -----------------------------> Responsive employe <--------------------------- */

@media screen and (max-width: 1025px){
	.card {
		width: 25em;
		height: 23em;
		margin: 30px; 
		line-height: 2em;
	}
	.photo{
		height: 9em;
		width: 9em;
	}
	.info{
		width: 18em;
	}
	h2{
		font-size: 22px;
	}
	.fonction{
		height: 5em;
	}
	.button_update {
		margin-top: 13em;
	} 
}

@media screen and (max-width: 480px){
	.container_button{
		display:flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.button {
		margin: 10px;
	} 
}






